@model Tool_Menagement.Models.Kategorium

@{
    ViewData["Title"] = "Create Category";
}

<div class="mud-paper">
    <h1 class="mud-typography mud-typography-h6">Create Category</h1>

    <form asp-action="Create" method="post">
        <div class="mud-text-field">
            <label asp-for="Opis" class="control-label mud-typography"></label>
            <input asp-for="Opis" class="form-control" />
            <span asp-validation-for="Opis" class="text-danger"></span>
        </div>
        <div class="mud-text-field">
            <label asp-for="Przeznaczenie" class="control-label mud-typography"></label>
            <input asp-for="Przeznaczenie" class="form-control" />
            <span asp-validation-for="Przeznaczenie" class="text-danger"></span>
        </div>
        <div class="mud-text-field">
            <label asp-for="MaterialWykonania" class="control-label mud-typography"></label>
            <input asp-for="MaterialWykonania" class="form-control" />
            <span asp-validation-for="MaterialWykonania" class="text-danger"></span>
        </div>
        <div class="mud-button">
            <input type="submit" value="Create" class="btn btn-primary mud-button" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
