@model IEnumerable<Tool_Menagement.Models.Kategorium>

@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        .mud-autocomplete-input, .mud-list {
            background-color: white;
        }

        .mud-popover {
            z-index: 1500 !important;
        }

        .header-gradient {
            background: linear-gradient(180deg, rgba(36, 122, 218, 0.79) 0%, rgba(30, 188, 84, 0.79) 100%);
            text-align: center;
        }
    </style>
</head>

<h1>Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Opis</th>
            <th>Polityka narzędziowa</th>
            <th>Przeznaczenie</th>
            <th>Material Wykonania</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            foreach (var detail in item.KategoriaDetails)
            {
                <tr>
                    <td>@item.Opis</td>
                    <td>@item.ToolPolicy</td>
                    <td>@detail.Przeznaczenie</td>
                    @if(detail.MaterialWykonania==null)
                    {
                        <td>N/D</td>
                    }
                    else
                    {
                        <td>@detail.MaterialWykonania</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
